
C array project/.vs/C array project/v17/Browse.VC.opendb
C array project/.vs/C array project/v17/Browse.VC.db
C array project/.vs/C array project/v17/Browse.VC.db-wal
C array project/.vs/C array project/v17/Browse.VC.db-shm
